/* @font-face {
  font-family: "ITC Franklin Gothic Std Book Compressed";

  src: url("/public/fonts/ITC Franklin Gothic Std/ITC Franklin Gothic Std Heavy");

  font-style: normal;
} */
/* 
@font-face {
  font-family: "ITC Franklin Gothic Std Book Compressed";

  src: url("/public/fonts/ITC Franklin Gothic Std Book Compressed");

  font-style: normal;
} */

* {
  font-family: "Nunito", sans-serif;
}
#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}
#nav-tabContent p {
  font-family: "Nunito", sans-serif !important;
  font-size: 16px !important;
  text-align: justify !important;
}
#nav-tabContent ul {
  font-family: "Nunito", sans-serif !important;
  font-size: 16px !important;
}

#nav-tabContent img {
  width: 80% !important;
}

body {
  font-family: "Nunito", sans-serif;
}
.dark-background {
  background-color: #263238;
}

.img-box {
  background-color: #263238;
  height: 125px;
  width: 100px;
  border: 1px solid #929292;
  border-radius: 2px;
}
.img-box img {
  height: 100%;
  width: 100%;
}

.client-logo {
  align-items: center;
  justify-content: center;
  height: 62px;
  width: 50%;
  margin-left: 61px;
}
.client-logo img {
  /* margin-left: 61px; */
  height: 100%;
  width: 50%;
}
.card-img-left {
  width: 60%;
}

hr.dashed {
  border-top: 1px dashed #bbb;
}

/*footer*/
.col_white_amrc {
  color: #fff;
}
.main-footer1 {
  width: 100%;
  background-color: #263238;
  min-height: 250px;
  padding: 10px 0px 25px 0px;
}
.pt2 {
  padding-top: 40px;
  margin-bottom: 20px;
}
.main-footer1 p {
  font-size: 13px;
  color: #ccc;
  padding-bottom: 0px;
  margin-bottom: 8px;
}
.mb10 {
  padding-bottom: 15px;
}
.footer_ul_amrc {
  margin: 0px;
  list-style-type: none;
  font-size: 14px;
  padding: 0px 0px 10px 0px;
}
.footer_ul_amrc li {
  padding: 0px 0px 5px 0px;
}
.footer_ul_amrc li a {
  color: #ccc;
}
.footer_ul_amrc li a:hover {
  color: #fff;
  text-decoration: none;
}
.fleft {
  float: left;
}
.padding-right {
  padding-right: 10px;
}

.footer_ul2_amrc {
  margin: 0px;
  list-style-type: none;
  padding: 0px;
}
.footer_ul2_amrc li p {
  display: table;
}
.footer_ul2_amrc li a:hover {
  text-decoration: none;
}
.footer_ul2_amrc li i {
  margin-top: 5px;
}

.bottom_border {
  border-bottom: 1px solid #323f45;
  padding-bottom: 20px;
}
.foote_bottom_ul_amrc {
  list-style-type: none;
  padding: 0px;
  display: table;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
}
.foote_bottom_ul_amrc li {
  display: inline;
}
.foote_bottom_ul_amrc li a {
  color: #999;
  margin: 0 12px;
}

.social_footer_ul {
  display: table;
  margin: 15px auto 0 auto;
  list-style-type: none;
}
.social_footer_ul li {
  padding-left: 20px;
  padding-top: 10px;
  float: left;
}
.social_footer_ul li a {
  color: #ccc;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 50%;
}
.social_footer_ul li i {
  width: 20px;
  height: 20px;
  text-align: center;
}
.rdt_TableCol {
  /* background-color: red; */
  font-size: 16px;
  font-weight: bold;
}
.rdt_TableCell {
  font-size: 16px;
  white-space: pre-line !important;
}
.optionGroup {
  font-weight: bold;
}

.optionChild {
  padding-left: 15px;
}

/* ========================================================================== */
/* Banner  */
/* ========================================================================== */

.v-banner {
  /* height: 450px; */
  background-color: #087097;
}
.banner_title {
  font-weight: 600;
}

.image3 {
  height: 244px;
  width: 412px;
}

.client_image {
  width: 110px;
  height: 69px;
}
@media (max-width: 75em) {
  .image3 {
    height: 244px;
    width: 412px;
  }
}
@media (max-width: 59em) {
  .image3 {
    height: 224px;
    width: 330px;
  }
}
@media (max-width: 44em) {
  .image3 {
    height: 314px;
    width: 487px;
  }
}
@media (max-width: 34em) {
  .image3 {
    height: 203px;
    width: 305px;
  }
  .banner_title {
    font-size: 23px;
  }
}
.heading {
  border-bottom: 1px solid #d7d7d7;
  margin: 5px 0 50px;
}

.fact_listing {
  border: 1px solid #cfcdcd;
  text-align: center;
  padding: 10px 0;
  margin: 10px 0 0;
  border-radius: 2px;
}

.fact_listing h3 {
  color: #3198be;
  font-size: 40px;
  margin: 0;
}

.fact_listing h4 {
  color: #5b5b5b;
  font-size: 17px;
  margin: 5px 0;
}

.client_sec {
  margin-top: 30px;
  padding: 15px;
}

.client_sec ul {
  width: 100%;
  background: #fff;
  border-left: 1px solid #f1f1f1;
  border-top: 1px solid #f1f1f1;
  float: left;
  list-style: none;
}
.client_sec ul li:first-child {
  background-position: 0 0;
}

.client_sec ul li {
  border-bottom: 1px solid #f1f1f1;
  border-right: 1px solid #f1f1f1;
  float: left;
  padding: 10px;
  text-align: center;
  width: 20%;
  height: 80px;
  /* background: url(../img/client_know_bg.jpg) no-repeat;   */
  background-size: 1034px;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(128,128,128)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: rgb(128, 128, 128);
}

.captcha {
  transform: scale(0.8);
  transform-origin: 0 0;
}

.dangerously {
  max-width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.dangerously p {
  font-family: "Nunito", sans-serif !important;
  font-size: 16px !important;
  text-align: justify !important;
  font-weight: 300 !important;
  color: #5b5b5b !important;
}
.dangerously strong {
  font-family: "Nunito", sans-serif !important;
  font-size: 16px !important;
  text-align: justify !important;
  font-weight: 300 !important;
  color: #5b5b5b !important;
}
.dangerously span {
  font-family: "Nunito", sans-serif !important;
  font-size: 16px !important;
  text-align: justify !important;
  font-weight: 300 !important;
  color: #5b5b5b !important;
}

.dangerously img {
  display: none !important;
  padding: 0 !important;
  margin: 0 !important;
}
.dangerously br {
  display: none !important;
}

.dangerously-article {
  max-width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.dangerously-article p {
  font-family: "Nunito", sans-serif !important;
  font-size: 16px !important;
  text-align: justify !important;
  font-weight: 300 !important;
  color: #5b5b5b !important;
}
.dangerously-article strong {
  font-family: "Nunito", sans-serif !important;
  font-size: 16px !important;
  text-align: justify !important;
  font-weight: 300 !important;
  color: #5b5b5b !important;
}
.dangerously-article span {
  font-family: "Nunito", sans-serif !important;
  font-size: 16px !important;
  text-align: justify !important;
  font-weight: 300 !important;
  color: #5b5b5b !important;
}

.dangerously-article img {
  display: none !important;
  padding: 0 !important;
  margin: 0 !important;
}
.dangerously-article br {
  display: none !important;
}

.dropdown-menu {
  max-height: 380px;
  overflow-y: auto;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}
