/* @font-face {
  font-family: "ITC Franklin Gothic Std Book Compressed";

  src: url("/public/fonts/ITC Franklin Gothic Std/ITC Franklin Gothic Std Heavy");

  font-style: normal;
} */
/* 
@font-face {
  font-family: "ITC Franklin Gothic Std Book Compressed";

  src: url("/public/fonts/ITC Franklin Gothic Std Book Compressed");

  font-style: normal;
} */

* {
  font-family: "Nunito", sans-serif;
}
body {
  font-family: "Nunito", sans-serif;
}

/* cyrillic-ext */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v25/XRXV3I6Li01BKofIOOaBXso.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v25/XRXV3I6Li01BKofIMeaBXso.woff2)
    format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v25/XRXV3I6Li01BKofIOuaBXso.woff2)
    format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v25/XRXV3I6Li01BKofIO-aBXso.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v25/XRXV3I6Li01BKofINeaB.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v25/XRXV3I6Li01BKofIOOaBXso.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v25/XRXV3I6Li01BKofIMeaBXso.woff2)
    format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v25/XRXV3I6Li01BKofIOuaBXso.woff2)
    format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v25/XRXV3I6Li01BKofIO-aBXso.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v25/XRXV3I6Li01BKofINeaB.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* .text-blue {
  color: #0074bd;
} */

.dark-background {
  background-color: #005c94;
}
.blue-background {
  background-color: #005c94;
}
.success {
  background-color: #00bd395d;
}
.danger {
  background-color: #ff393980;
}

.text-blue {
  color: #005c94 !important;
}

.btn-purple {
  color: #fff;
  background-color: #a6c;
  border-color: #a6c;
  box-shadow: none;
}
.btn-purple:hover {
  color: #fff;
  background-color: #9029c4;
  border-color: #9029c4;
  /* box-shadow: none; */
}
.btn-purple {
  color: #fff;
  background-color: #a6c;
  border-color: #a6c;
  box-shadow: none;
}
.btn-blue {
  color: #fff;
  background-color: #005c94;
  border-color: #005c94;
  /* box-shadow: none; */
}
.btn-blue:hover {
  color: #fff;
  background-color: #00436b;
  border-color: #00436b;
  /* box-shadow: none; */
}
.btn-yellow {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #f0ad4e;
  /* box-shadow: none; */
}
.btn-yellow:hover {
  color: #fff;
  background-color: #efa131;
  border-color: #efa131;
  /* box-shadow: none; */
}
.btn-red {
  color: #fff;
  background-color: #d9534f;
  border-color: #d9534f;
}
.btn-red:hover {
  color: #fff;
  background-color: #c9302c;
  border-color: #c9302c;
}

/* ============================= btn-back-to-top ============================= */

#btn-back-to-top {
  position: fixed;
  bottom: 190px;
  right: 20px;
  display: none;
}
.back-to-top {
  bottom: 3.25rem;
  position: fixed;
  right: 1.25rem;
  z-index: 1032;
}

/* ============================= btn-back-to-top ============================= */

/* ============================= Blog Page ============================= */

.img-box {
  /* background-color: #263238; */
  height: 147px;
  width: 115px;
  border: 1px solid #929292;
  border-radius: 2px;
  margin-left: 0;
  margin-bottom: 0;
}
@media (max-width: 34em) {
  .img-box {
    margin-left: 113px;
    margin-bottom: 20px;
  }
}
.img-box img {
  height: 100%;
  width: 100%;
}

.report-span {
  color: #666;
  font-size: 12px;
  text-transform: uppercase;
}

/* ============================= Blog Image ============================= */

/* ============================= Client logos ============================= */

.client-logo {
  align-items: center;
  justify-content: center;
  height: 62px;
  width: 50%;
  margin-left: 61px;
}
.client-logo img {
  /* margin-left: 61px; */
  height: 100%;
  width: 50%;
}
.card-img-left {
  width: 60%;
}

hr.dashed {
  border-top: 1px dashed #bbb;
}

/* ============================= Client logos ============================= */

/* ============================= Navbar ============================= */

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(128,128,128)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: rgb(128, 128, 128);
}
.dropdown-menu {
  max-height: 380px;
  overflow-y: auto;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}
/* ============================= Navbar ============================= */

/* ============================= footer ============================= */

.col_white_amrc {
  color: #fff;
}
.main-footer1 {
  width: 100%;
  background-color: #005c94;
  min-height: 250px;
  padding: 10px 0px 0px 0px;
}
.pt2 {
  /* padding-top: 40px; */
  margin-bottom: 20px;
}
.main-footer1 p {
  font-size: 13px;
  color: #ffffff;
  padding-bottom: 0px;
  margin-bottom: 8px;
}
.main-footer1-con {
  position: relative;
}
.social {
  position: absolute;
  left: -40px;
  top: -40px;
}

.mb10 {
  padding-bottom: 15px;
}
.footer_ul_amrc {
  margin: 0px;
  list-style-type: none;
  font-size: 14px;
  padding: 0px 0px 10px 0px;
}
.footer_ul_amrc li {
  padding: 0px 0px 5px 0px;
}
.footer_ul_amrc li a {
  color: #ffffff;
}
.footer_ul_amrc li a:hover {
  color: #fff;
  text-decoration: none;
}
.fleft {
  float: left;
}
.padding-right {
  padding-right: 10px;
}

.footer_ul2_amrc {
  margin: 0px;
  list-style-type: none;
  padding: 0px;
}
.footer_ul2_amrc li p {
  display: table;
}
.footer_ul2_amrc li a:hover {
  text-decoration: none;
}
.footer_ul2_amrc li i {
  margin-top: 5px;
}

.bottom_border {
  border-bottom: 1px solid #ffffff;
  padding-bottom: 20px;
}
.foote_bottom_ul_amrc {
  list-style-type: none;
  padding: 0px;
  display: table;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
}
.foote_bottom_ul_amrc li {
  display: inline;
}
.foote_bottom_ul_amrc li a {
  color: #fff;
  margin: 0 12px;
}

/* .social_footer_ul {
  background-color: #005c94;
  display: table;
  margin: 15px 0px 0 auto;
  list-style-type: none;
}
.social_footer_ul li {
  padding-left: 20px;
  padding-top: 10px;
  float: left;
}
.social_footer_ul li a {
  color: #ccc;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 50%;
}
.social_footer_ul li i {
  width: 20px;
  height: 20px;
  text-align: center;
} */
.footerboxriben {
  background: #02516f;
  padding: 9px 10px;
  position: relative;
  z-index: 9;
  left: -6px;
  display: table;
  bottom: 0px;
  top: -25px;
}
.footerboxriben::before {
  border-right: 10px solid #053f54;
  border-top: 16px solid transparent;
  content: "";
  display: block;
  height: 0;
  left: -10px;
  position: absolute;
  top: -1px;
  width: 7px;
}
.footerboxriben ul {
  padding-bottom: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.footerboxriben ul li {
  color: white;
  list-style: none;
  display: inline-block;
}
.footerboxriben ul li a {
  padding: 0 10px;
}
.index-link ul li a {
  text-decoration: none;
  font-size: 14px;
  color: #fff;
  display: block;
  padding: 5px 0;
  text-align: left;
}
.facebook i {
  background: white;
  color: #4565a9;
  padding: 5px;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  text-align: center;
  line-height: 25px;
}
.facebook i:hover {
  color: white;
  background: #4565a9;
  transition: 0.8s;
}
.twitter i {
  background: white;
  color: #1da1f2;
  padding: 5px;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  text-align: center;
  line-height: 25px;
}
.twitter i:hover {
  color: white;
  background: #1da1f2;
  transition: 0.6s;
}
.linkedin i {
  background: white;
  color: #0077b5;
  padding: 5px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 25px;
}
.linkedin i:hover {
  color: white;
  background: #0077b5;
  transition: 0.6s;
}
/* ============================= footer ============================= */

/* ============================= admin dataTable ============================= */

.rdt_TableCol {
  /* background-color: red; */
  font-size: 16px;
  font-weight: bold;
}
.rdt_TableCell {
  font-size: 16px;
  white-space: pre-line !important;
}
.optionGroup {
  font-weight: bold;
}

.optionChild {
  padding-left: 15px;
}

/* ============================= admin dataTable ============================= */

/* ============================= Banner ============================= */

.banner_title {
  font-weight: 900;
  color: rgb(42, 42, 40);
}

@media (max-width: 34em) {
  .banner_title {
    font-size: 23px;
  }
}

.carousel-control-custom-icon {
  color: rgb(205, 205, 205) !important;
}

.carosal {
  background-image: url("../public/dist/img/slider.webp");
  height: 100%;
  /* background-attachment: fixed; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.carosal-bg-color {
  background-color: rgba(255, 132, 132, 0.243);
}

.bg-color {
  /* background-color: rgba(0, 0, 0, 0.7); */
  background-color: #00448d82;
  min-height: 290px;
}
.bg-box {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 20px;
  text-align: center;
  border-bottom: 2px solid #fecd01;
}

.bg-box i {
  font-size: 35px !important;
  color: #fecd01;
}

.YourHighlightClass {
  background-color: yellow;
}

/* ============================= Banner ============================= */

.client_image {
  width: 110px;
  height: 69px;
}

/* ============================= facts section ============================= */
.fact_listing {
  border: 1px solid #cfcdcd;
  text-align: center;
  padding: 10px 0;
  margin: 10px 0 0;
  border-radius: 2px;
}

.fact_listing h3 {
  color: #005c94;
  font-size: 40px;
  margin: 0;
}

.fact_listing h4 {
  color: #5b5b5b;
  font-size: 17px;
  margin: 5px 0;
}

/* ============================= facts section ============================= */

/* ============================= dangerouslySetInnerHTML display ============================= */

#nav-tabContent p {
  font-family: "Nunito", sans-serif !important;
  font-size: 16px !important;
  /* text-align: justify !important; */
}
#nav-tabContent a {
  font-family: "Nunito", sans-serif !important;
  font-size: 16px !important;
  color: #005c94;
  /* text-align: justify !important; */
}
#nav-tabContent h2 {
  font-family: "Nunito", sans-serif !important;
  font-size: 18px !important;
  /* text-align: justify !important; */
}
#nav-tabContent ul {
  font-family: "Nunito", sans-serif !important;
  font-size: 16px !important;
}

#nav-tabContent img {
  width: 80% !important;
  height: 30% !important;
  margin-left: calc(100% - 743px);
}
@media (max-width: 34em) {
  #nav-tabContent img {
    margin-left: calc(100% - 280px);
  }
}

/* ============================= dangerouslySetInnerHTML display ============================= */

/* ============================= Home Page Latest list ============================= */
.dangerously {
  max-width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.dangerously p {
  font-family: "Nunito", sans-serif !important;
  font-size: 14.4px !important;
  text-align: justify !important;
  font-weight: 300 !important;
  color: #5b5b5b !important;
}
.dangerously strong {
  font-family: "Nunito", sans-serif !important;
  font-size: 16px !important;
  text-align: justify !important;
  font-weight: 300 !important;
  color: #5b5b5b !important;
}

.dangerously span {
  font-family: "Nunito", sans-serif !important;
  font-size: 16px !important;
  text-align: justify !important;
  font-weight: 300 !important;
  color: #5b5b5b !important;
}

.dangerously img {
  display: none !important;
  padding: 0 !important;
  margin: 0 !important;
}
.dangerously br {
  display: none !important;
}

.dangerously-article {
  max-width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.dangerously-article p {
  font-family: "Nunito", sans-serif !important;
  font-size: 16px !important;
  text-align: justify !important;
  font-weight: 300 !important;
  color: #5b5b5b !important;
}
.dangerously-article strong {
  font-family: "Nunito", sans-serif !important;
  font-size: 16px !important;
  text-align: justify !important;
  font-weight: 300 !important;
  color: #5b5b5b !important;
}
.dangerously-article a {
  font-family: "Nunito", sans-serif !important;
  font-size: 16px !important;
  text-align: justify !important;
  font-weight: 300 !important;
  color: #005c94 !important;
}
.dangerously-article span {
  font-family: "Nunito", sans-serif !important;
  font-size: 16px !important;
  text-align: justify !important;
  font-weight: 300 !important;
  color: #5b5b5b !important;
}

.dangerously-article img {
  display: none !important;
  padding: 0 !important;
  margin: 0 !important;
}
.dangerously-article br {
  display: none !important;
}

/* ============================= Home Page Latest list ============================= */

.heading {
  border-bottom: 1px solid #d7d7d7;
  margin: 5px 0 50px;
}

.visa_logo {
  height: 32px;
  width: 145px;
}

.report-heading {
  font-size: 16px;
  font-weight: 600;
}

.search input {
  border-radius: none !important;
}

.enq-btn a {
  background: #005c94;
  color: #fff !important;
  padding: 5px 10px;
}
.form-btn {
  font-size: 12px !important;
  font-weight: 100 !important;
}

.page-heading {
  background-color: #005c94;
  border: 1px solid #005c94;
  color: white;
  padding: 8px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
}

.captcha {
  transform: scale(0.8);
  transform-origin: 0 0;
}

.form-notice {
  font-size: 13px;
  font-weight: 800;
}
.form-heading {
  font-size: 20px;
  font-weight: 600;
}

.form-bg-light {
  background-color: #e5e5e570;
}
.form-hr {
  color: #e5e5e5;
  background-color: #e5e5e5;
  border-top: 1px solid #fffffd;
}
/* #google_translate_element {
  position: absolute;
} */

/* .icheck-primary title {
  width: 30px;
} */
/* .icheck-primary {
  position: relative;
  display: inline-block;
  margin-top: 20px;
} */

.key-qust {
  overflow: hidden;
  margin-top: 30px;
}
.relat-reprt {
  border-bottom: 1px solid #eee;
  padding: 10px;
}
.key-qust .panel-group {
  border: 1px solid #ccc;
  padding: 10px;
  overflow: hidden;
  min-height: 338px;
  margin-bottom: 20px;
}

.key-qust h2 {
  margin: 0;
  font-size: 16px;
  color: #333;
  font-weight: 400;
  text-transform: uppercase;
}

.mrkt-info {
  margin: 0;
  padding: 0;
  padding-top: 0;
  padding-top: 6px;
}
.mrkt-info li {
  background: #f2f2f2;
  padding: 5px;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 14px;
  color: #666;
}
.mrkt-info li div {
  color: #363636;
  display: flex;
}
.mrkt-info li div span {
  line-height: 46px;
}
.faq-quest ul li div {
  padding-left: 10px;
}

.mrkt-info li div i {
  font-size: 27px;
  border: 1px solid #ccc;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  margin: 0 10px;
}

.req-free-btn {
  margin-top: 20px;
  width: 100%;
}
.req-free-btn .btn {
  background: #0074bd;
  border: none;
  border-radius: 0;
  padding: 5px 10px;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  width: 100%;
}
@media (max-width: 34em) {
  .mrkt-info li div i {
    font-size: 19px;
    border: 1px solid #ccc;
    width: 70px;
    height: 54px;
    text-align: center;
    line-height: 51px;
    margin: 0 10px;
  }
  .mrkt-info li div span {
    line-height: 24px;
  }
}
